@model IEnumerable<LeThiHoaBTH2.Models.Customer>
    <p>
        <a class="btn btn-succes" asp-action="Create">Create a new Customer</a>
    </p>
    <table class="table table-all">
        <tr>
            <th>Customer Id</th>
            <th>Customer Name</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.CustomerID)</td>
                <td>@Html.DisplayFor(m => item.CustomerName)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CustomerID">Sua</a>
                    <a asp-action="Delete" asp-route-id="@item.CustomerID">Xoa</a>
                </td>
            </tr>
        }
    </table>